@import url(https://fonts.googleapis.com/css?family=Hind);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	font-family: 'Open Sans', sans-serif;
	color: #31383d;
	font-size: 1.1rem;
}

section {
	padding: 30px 0;
	background: #fff;
}

p {
	line-height: 1.5;
	margin: 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Hind', sans-serif;
  font-weight: 800;
}

a {
	color: #31383d;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

a:hover,
a:focus {
	color: #73a5fc;
}


header.masthead {
	height: 500px;
	background: #a3bded;
	background: -webkit-linear-gradient(-20deg, #a3bded 0%, #6991c7 100%);
	background: -moz-linear-gradient(-20deg, #a3bded 0%, #6991c7 100%);
	background: linear-gradient(-20deg, #a3bded 0%, #6991c7 100%);

}

.headHome{
	position: relative;
	height: 200px;
	top: 10rem;
}

header.masthead .headHome  h1 {
	font-size: 2.3rem;
	color: rgba(0,0,0,0.3);
}

header.masthead .headHome  .subheading {
	display: block;
	font-weight: 300;
	color: #fff;
}
