@import url(https://fonts.googleapis.com/css?family=Hind);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

a {
	color: #31383d;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

a:hover,
a:focus {
	color: #73a5fc;
}

#navbar-main {
	font-family: 'Hind', sans-serif;
	border-bottom: 1px solid #d7e2e9;
	display: flex;
	justify-content: space-between;
	background: transparent;
	border-bottom: 1px solid transparent;
	font-size: 1.5em;
;
}
.navbar{
	margin-bottom: 30px ;
}
.fa {
	font-size: 2em;
}

.nav-link {
	color: #fff;
padding: 0 !important;
}

#navbar-main .navbar-brand {
	color: #fff;
	opacity: 0.8;
	padding: 0.95rem 1.2rem;

}
.nav-item{
	padding:0;
	margin: 0;
}
.btn-signout{
	width: 80px;
	color: red;
	
}
